body, html {
    height: 100%;
    margin: 0;
    font-family: 'Spinnaker', sans-serif;
    font-family: 'Oswald', sans-serif;
}

#draw{
    border: 2px solid red;
}

#download{
    border: 2px solid blue;
}

#upload{
    border: 2px solid green;
}

/* Overlay Stuff */
.hidden{
    display: none;
}

.show{
    display: block;
    height: 100%;
}

/* Page 1 */
#field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/images/field.png");
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#prompt{
    font-size: 48px;
    width: 553px;
    text-align: center;
    color: #FFFFFF;
}

#start-btn{
    font-size: 24px;
    padding: 20px 40px;
    font-weight: bold;
    background-color: #C4C4C4;
    border-style: none;
    cursor: pointer;
}

#responses{
    position: absolute;
    bottom: 23px;
    color: #FFFFFF;
    font-family: 'Spinnaker', sans-serif;
    font-size: 24px;
    text-decoration: underline;
    cursor: pointer;
}

/* Page 2 */
#fire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/images/fire.jpg");
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#climateChange{
    font-size: 48px;
    width: 553px;
    text-align: center;
    color: #EF2929;
}

#information{
    font-family: 'Spinnaker', sans-serif;
    font-size: 24px;
    width: 780px;
    text-align: center;
    color: #FFFFFF;
}